@keyframes fadeUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    transform: translateX(8px);
  }
  33.3% {
    transform: translateX(-6px);
  }
  49.95% {
    transform: translateX(4px);
  }
  66.6% {
    transform: translateX(-2px);
  }
  83.25% {
    transform: translateX(1px);
  }
  to {
    transform: translateX(0);
  }
}

%extend_fade {
  display: block;
  clear: both;
  overflow: auto;
  margin: 40px 0 0;
  animation-delay: 0.6s;
  animation: fadeUp ease-in 1;
  animation-duration: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

%extend_translate {
  display: inline-block;
  transform: translateZ(0);
  vertical-align: middle;
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
}

%extend_wobble {
  animation-name: hvr-wobble-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.main__container-about {
  @extend %extend_fade;
}

.main__container-experiences {
  @extend %extend_fade;
}

.main__container-projects {
  @extend %extend_fade;
}

.main__project-info-title {
  &:after {
    @extend %extend_translate;
  }
  &:active:after {
    @extend %extend_wobble;
  }
  &:focus:after {
    @extend %extend_wobble;
  }
  &:hover:after {
    @extend %extend_wobble;
  }
}

.main__experience-title {
  &:after {
    @extend %extend_translate;
  }
  &:active:after {
    @extend %extend_wobble;
  }
  &:focus:after {
    @extend %extend_wobble;
  }
  &:hover:after {
    @extend %extend_wobble;
  }
}