.main__project {
	height: 40px;
	margin-bottom: 20px;
}

.main__container-project {
	animation-delay: 1.2s;
}

.main__project-info {
	float: left;
}

.main__project-info-company {
	font-weight: 700;
	line-height: 26px;
	display: block;
}

.main__project-info-position {
	display: block;
}

.main__project-year {
	font-weight: 700;
	line-height: 26px;
	float: right;
}
@media (min-width: 1024px) {
	.main__project {
		max-width: 500px;
		margin-left: 110px;
		margin-top: 18px;
	}
}
