.main__container-about {
	.talks {
		li {
			margin: 10px 0;
		}

		a {
			padding: 0 4px 2px;
			transition: background-color 0.3s, border-color 0.3s;
			white-space: initial;
			text-decoration: none;
			word-wrap: break-word;
			border-bottom: 2px dashed lighten(#462373, 20%);

			&:hover {
				color: lighten(#462373, 20%);
			}
		}
	}
}
@media(min-width: 1024px) {
	.main__headline {
		float: left;
		width: 75%;
		max-width: 500px;
		margin-top: 20px;
	}
}
